.banner-img-1{
    background-image: url(../media/banner.png);
    height: 58vh;
    
    
}
.banner-img-2{
    background-image: url(../media/people.png);
    height: 58vh;
    
}
.banner-img-3{
    background-image: url(../media/wedding.png);
    height: 58vh;
    
}